demo-workflow.json
{
  "name": "Demo: Daily GitHub Stars Tracker",
  "nodes": [
    {
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [250, 300],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "http-request",
      "name": "Get GitHub Stars",
      "type": "n8n-nodes-base.httpRequest",
      "position": [450, 300],
      "parameters": {
        "url": "https://api.github.com/repos/n8n-io/n8n",
        "method": "GET",
        "responseFormat": "json"
      },
      "typeVersion": 4.2
    },
    {
      "id": "set-node",
      "name": "Format Data",
      "type": "n8n-nodes-base.set",
      "position": [650, 300],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repo_name",
              "value": "={{ $json.full_name }}"
            },
            {
              "name": "stars",
              "value": "={{ $json.stargazers_count }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "url",
              "value": "={{ $json.html_url }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{
        "node": "Get GitHub Stars",
        "type": "main",
        "index": 0
      }]]
    },
    "Get GitHub Stars": {
      "main": [[{
        "node": "Format Data",
        "type": "main",
        "index": 0
      }]]
    }
  },
  "active": false,
  "settings": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
