exported-workflow.json
[{"updatedAt":"2025-11-06T23:16:07.859Z","createdAt":"2025-11-06T23:16:07.859Z","id":"Zjb3awpTptBMX2vk","name":"Demo: Daily GitHub Stars Tracker","active":false,"isArchived":false,"nodes":[{"id":"manual-trigger","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","position":[250,300],"parameters":{},"typeVersion":1},{"id":"http-request","name":"Get GitHub Stars","type":"n8n-nodes-base.httpRequest","position":[450,300],"parameters":{"url":"https://api.github.com/repos/n8n-io/n8n","method":"GET","responseFormat":"json"},"typeVersion":4.2},{"id":"set-node","name":"Format Data","type":"n8n-nodes-base.set","position":[650,300],"parameters":{"values":{"string":[{"name":"repo_name","value":"={{ $json.full_name }}"},{"name":"stars","value":"={{ $json.stargazers_count }}"},{"name":"description","value":"={{ $json.description }}"},{"name":"url","value":"={{ $json.html_url }}"}]}},"typeVersion":3.4}],"connections":{"Manual Trigger":{"main":[[{"node":"Get GitHub Stars","type":"main","index":0}]]},"Get GitHub Stars":{"main":[[{"node":"Format Data","type":"main","index":0}]]}},"settings":{},"staticData":null,"meta":{"templateCredsSetupCompleted":false},"pinData":null,"versionId":null,"versionCounter":1,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2025-11-06T23:16:07.861Z","createdAt":"2025-11-06T23:16:07.861Z","role":"workflow:owner","workflowId":"Zjb3awpTptBMX2vk","projectId":"lkHjBtaok4XF2e0v","project":{"updatedAt":"2025-11-06T23:03:32.031Z","createdAt":"2025-11-06T23:03:32.031Z","id":"lkHjBtaok4XF2e0v","name":"Unnamed Project","type":"personal","icon":null,"description":null}}]}]