generated-workflows/01-simple-http-slack.json
{
  "name": "Simple: HTTP to Slack Notification",
  "nodes": [
    {
      "id": "node-manual-trigger-001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [250, 300],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "id": "node-http-request-001",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [450, 300],
      "parameters": {
        "url": "https://jsonplaceholder.typicode.com/users",
        "method": "GET",
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "node-slack-001",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [650, 300],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "channel": "#general",
        "text": "={{ 'Fetched ' + $json.length + ' users from API' }}"
      },
      "typeVersion": 2.2,
      "credentials": {
        "slackApi": {
          "id": "slack-cred-001",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[
        {
          "node": "HTTP Request",
          "type": "main",
          "index": 0
        }
      ]]
    },
    "HTTP Request": {
      "main": [[
        {
          "node": "Slack",
          "type": "main",
          "index": 0
        }
      ]]
    }
  },
  "active": false,
  "settings": {},
  "meta": {
    "generatedBy": "n8n-workflow-orchestrator",
    "timestamp": "2025-01-14T00:00:00.000Z",
    "testType": "simple",
    "description": "Simple workflow that fetches user data from an API and sends count to Slack"
  }
}
